openapi: 3.0.1
info:
    title: Wildberries API
    version: ''
tags:
    - name: Categories, Subjects, and Characteristics
      description: ''
    - name: Creating Product Cards
      description: ''
    - name: Product Cards
      description: ''
    - name: Media Files
      description: ''
    - name: Tags
      description: ''
    - name: Prices and Discounts
      description: ''
    - name: Seller Warehouses
      description: ''
    - name: Inventory
      description: ''
    - name: Assembly Orders
      description: ''
    - name: Metadata
      description: ''
    - name: FBS Supplies
      description: ''
    - name: Passes
      description: ''
    - name: WB Courier Delivery (DBW)
      description: ''
    - name: Campaigns
      description: ''
    - name: Campaigns Creation
      description: ''
    - name: Campaigns Management
      description: ''
    - name: Finances
      description: ''
    - name: Campaigns Parameters
      description: ''
    - name: Media
      description: ''
    - name: Promotions Calendar
      description: ''
    - name: Questions
      description: ''
    - name: Feedbacks
      description: ''
    - name: Response Templates
      description: ''
    - name: Buyers Chat
      description: ''
    - name: Buyers Returns
      description: ''
paths:
    /content/v2/object/parent/all:
        servers:
            - url: https://content-api.wildberries.ru
        get:
            security:
                - HeaderApiKey: []
            summary: Products parent categories
            description: |
                Returns the list of all products parent categories

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            tags:
                - Categories, Subjects, and Characteristics
            parameters:
                - name: locale
                  in: query
                  description: Product name language (`ru`, `en`, `zh`)
                  schema:
                      type: string
                      example: en
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        items:
                                            type: object
                                            properties:
                                                name:
                                                    description: Category name
                                                    type: string
                                                    example: Электроника
                                                id:
                                                    description: Parent category ID
                                                    type: integer
                                                    example: 479
                                                isVisible:
                                                    description: Visibility on the site
                                                    type: boolean
                                                    example: true
                                    error:
                                        description: Error flag
                                        type: boolean
                                        example: false
                                    errorText:
                                        description: Error description
                                        type: string
                                        example: ''
                                    additionalErrors:
                                        description: Additional errors
                                        nullable: true
                                        type: string
                                        example: ''
                '400':
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError400'
                'Response401':
                    $ref: '#/components/responses/Response401'
                '403':
                    description: Access denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError403'
                'Response429':
                    $ref: '#/components/responses/Response429'
    /content/v2/object/all:
        servers:
            - url: https://content-api.wildberries.ru
        get:
            security:
                - HeaderApiKey: []
            summary: Subjects list
            description: |
                Returns the list of all available subjects, subjects parent categories and their IDs

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            tags:
                - Categories, Subjects, and Characteristics
            parameters:
                - name: locale
                  in: query
                  schema:
                      type: string
                      example: en
                  description: Product name language (`ru`, `en`, `zh`)
                - name: name
                  in: query
                  schema:
                      type: string
                      example: Socks
                  description: Search by item name (Socks), the search works by substring and can be conducted in any of the supported languages
                - name: limit
                  in: query
                  schema:
                      type: integer
                      example: 1000
                      default: 30
                      description: Number of search results, maximum 1,000
                - name: offset
                  in: query
                  schema:
                      type: integer
                      example: 5000
                      default: 0
                      description: How many results to skip
                - name: parentID
                  in: query
                  schema:
                      type: integer
                      example: 1000
                  description: Subject parent category ID
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        description: Categories and subjects
                                        items:
                                            type: object
                                            properties:
                                                subjectID:
                                                    type: integer
                                                    description: Subject ID
                                                parentID:
                                                    type: integer
                                                    description: Category ID
                                                subjectName:
                                                    type: string
                                                    description: Subject name
                                                parentName:
                                                    type: string
                                                    description: Category name
                                    error:
                                        type: boolean
                                        description: Error flag
                                    errorText:
                                        type: string
                                        description: Error text
                                    additionalErrors:
                                        nullable: true
                                        description: Additional errors
                                        type: string
                            example:
                                data:
                                    - subjectID: 2560
                                      parentID: 479
                                      subjectName: 3D очки
                                      parentName: Электроника
                                    - subjectID: 1152
                                      parentID: 858
                                      subjectName: 3D-принтеры
                                      parentName: Оргтехника
                                error: false
                                errorText: ''
                                additionalErrors: null
                'Response401':
                    $ref: '#/components/responses/Response401'
                'Response429':
                    $ref: '#/components/responses/Response429'
    /content/v2/object/charcs/{subjectId}:
        servers:
            - url: https://content-api.wildberries.ru
        get:
            security:
                - HeaderApiKey: []
            summary: Subject characteristics
            description: |
                Returns list of the subject characteristics by its ID

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            tags:
                - Categories, Subjects, and Characteristics
            parameters:
                - name: subjectId
                  in: path
                  required: true
                  description: Subject ID
                  schema:
                      type: integer
                      example: 105
                - name: locale
                  in: query
                  description: Language of `subjectName` and `name` (ru, en, zh)
                  schema:
                      type: string
                      example: en
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        description: Data
                                        items:
                                            type: object
                                            properties:
                                                charcID:
                                                    type: integer
                                                    description: Characteristics ID
                                                subjectName:
                                                    type: string
                                                    description: Subject name
                                                subjectID:
                                                    type: integer
                                                    description: Subject ID
                                                name:
                                                    type: string
                                                    description: Characteristic name
                                                required:
                                                    type: boolean
                                                    description: Characteristic required
                                                unitName:
                                                    type: string
                                                    description: Unit (sm, gr and others)
                                                maxCount:
                                                    type: integer
                                                    description: |
                                                        Max count of values that can be assigned to this characteristic.
                                                        <br>zero means no limit.
                                                popular:
                                                    description: The characteristic is popular with users
                                                    type: boolean
                                                charcType:
                                                    type: integer
                                                    description: Characteristic type (1 and 0 - string or list of strings; 4 - number or list of numbers
                                    error:
                                        type: boolean
                                        description: Error flag
                                    errorText:
                                        type: string
                                        description: Error description
                                    additionalErrors:
                                        type: string
                                        description: Additional errors
                                        nullable: true
                                example:
                                    data:
                                        - charcID: 54337
                                          subjectName: Кроссовки
                                          subjectID: 105
                                          name: Размер
                                          required: false
                                          unitName: см
                                          maxCount: 0
                                          popular: false
                                          charcType: 4
                                    error: false
                                    errorText: ''
                                    additionalErrors: null
                '400':
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError400'
                'Response401':
                    $ref: '#/components/responses/Response401'
                '403':
                    description: Access denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError403'
                'Response429':
                    $ref: '#/components/responses/Response429'
    /content/v2/directory/colors:
        servers:
            - url: https://content-api.wildberries.ru
        get:
            security:
                - HeaderApiKey: []
            summary: Color
            description: |
                Provides values of color characteristic.

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            tags:
                - Categories, Subjects, and Characteristics
            parameters:
                - name: locale
                  in: query
                  description: |
                      Language of `subjectName` and `name` (ru, en, zh)
                  schema:
                      type: string
                      example: en
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        items:
                                            type: object
                                            properties:
                                                name:
                                                    description: Color name
                                                    type: string
                                                    example: персиковый мелок
                                                parentName:
                                                    description: Parent color name
                                                    type: string
                                                    example: оранжевый
                                    error:
                                        description: Error flag
                                        type: boolean
                                        example: false
                                    errorText:
                                        description: Error description
                                        type: string
                                        example: ''
                                    additionalErrors:
                                        description: Additional errors
                                        nullable: true
                                        type: string
                                        example: ''
                '400':
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError400'
                'Response401':
                    $ref: '#/components/responses/Response401'
                '403':
                    description: Access denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError403'
                'Response429':
                    $ref: '#/components/responses/Response429'
    /content/v2/directory/kinds:
        servers:
            - url: https://content-api.wildberries.ru
        get:
            security:
                - HeaderApiKey: []
            summary: Gender
            description: |
                Provides values of gender characteristic.

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            tags:
                - Categories, Subjects, and Characteristics
            parameters:
                - name: locale
                  in: query
                  description: Language of `subjectName` and `name` (ru, en, zh)
                  schema:
                      type: string
                      example: en
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        description: List of values for sex characteristic.
                                        type: array
                                        items:
                                            type: string
                                            example: Мужской
                                    error:
                                        description: Error flag
                                        type: boolean
                                        example: false
                                    errorText:
                                        description: Error description
                                        type: string
                                        example: ''
                                    additionalErrors:
                                        description: Additional errors
                                        nullable: true
                                        type: string
                                        example: ''
                '400':
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError400'
                'Response401':
                    $ref: '#/components/responses/Response401'
                '403':
                    description: Access denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError403'
                'Response429':
                    $ref: '#/components/responses/Response429'
    /content/v2/directory/countries:
        servers:
            - url: https://content-api.wildberries.ru
        get:
            security:
                - HeaderApiKey: []
            summary: Country of origin
            description: |
                Provides value of characteristic country of origin.

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            tags:
                - Categories, Subjects, and Characteristics
            parameters:
                - name: locale
                  in: query
                  description: |
                      Language of `subjectName` and `name` (ru, en, zh)
                  schema:
                      type: string
                      example: en
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        items:
                                            type: object
                                            properties:
                                                name:
                                                    description: Value of characteristic country of origin
                                                    type: string
                                                    example: Китай
                                                fullName:
                                                    description: Full country name
                                                    type: string
                                                    example: Китайская Народная Республика
                                    error:
                                        description: Error flag
                                        type: boolean
                                        example: false
                                    errorText:
                                        description: Error description
                                        type: string
                                        example: ''
                                    additionalErrors:
                                        description: Additional errors
                                        nullable: true
                                        type: string
                                        example: ''
                '400':
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError400'
                'Response401':
                    $ref: '#/components/responses/Response401'
                '403':
                    description: Access denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError403'
                'Response429':
                    $ref: '#/components/responses/Response429'
    /content/v2/directory/seasons:
        servers:
            - url: https://content-api.wildberries.ru
        get:
            security:
                - HeaderApiKey: []
            summary: Season
            description: |
                Provide values of season characteristic

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            tags:
                - Categories, Subjects, and Characteristics
            parameters:
                - name: locale
                  in: query
                  description: Language of `subjectName` and `name` (ru, en, zh)
                  schema:
                      type: string
                      example: en
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        description: Array of values for season characteristic.
                                        type: array
                                        items:
                                            type: string
                                            example: демисезон
                                    error:
                                        description: Error flag
                                        type: boolean
                                        example: false
                                    errorText:
                                        description: Error description
                                        type: string
                                        example: ''
                                    additionalErrors:
                                        description: Additional errors
                                        nullable: true
                                        type: string
                                        example: ''
                '400':
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError400'
                'Response401':
                    $ref: '#/components/responses/Response401'
                '403':
                    description: Access denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError403'
                'Response429':
                    $ref: '#/components/responses/Response429'
    /content/v2/directory/vat:
        servers:
            - url: https://content-api.wildberries.ru
        get:
            security:
                - HeaderApiKey: []
            summary: VAT rate
            description: |
                Returns a list of values for the **VAT rate** characteristic

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            tags:
                - Categories, Subjects, and Characteristics
            parameters:
                - name: locale
                  in: query
                  description: Language of the `data` elements values (`ru`, `en`, `zh`). Not used in the sandbox
                  schema:
                      type: string
                      example: ru
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            type: string
                                    error:
                                        type: boolean
                                        description: Error flag
                                    errorText:
                                        type: string
                                        description: Error text
                                    additionalErrors:
                                        nullable: true
                                        type: string
                                        description: Additional errors
                            example:
                                data:
                                    - '0'
                                    - '10'
                                    - '20'
                                    - Без НДС
                                    - '13'
                                error: false
                                errorText: ''
                                additionalErrors: null
                '400':
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError400'
                'Response401':
                    $ref: '#/components/responses/Response401'
                '403':
                    description: Access denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError403'
                'Response429':
                    $ref: '#/components/responses/Response429'
    /content/v2/directory/tnved:
        servers:
            - url: https://content-api.wildberries.ru
        get:
            security:
                - HeaderApiKey: []
            summary: HS codes
            description: |
                Method provides list of HS codes by category name and filter by HS code.

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            tags:
                - Categories, Subjects, and Characteristics
            parameters:
                - name: subjectID
                  in: query
                  required: true
                  description: Subject ID
                  schema:
                      type: integer
                      example: 105
                - name: search
                  in: query
                  description: Search by HS code. Works only with the subjectID parameter
                  schema:
                      type: integer
                      example: 6106903000
                - name: locale
                  in: query
                  description: Language (`ru`, `en`, `zh`) of the `subjectName` and `name` fields values. Not used in a sandbox
                  schema:
                      type: string
                      example: en
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        description: Data
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                tnved:
                                                    type: string
                                                    description: HS code
                                                isKiz:
                                                    type: boolean
                                                    description: |
                                                        - `true` - labeling code is required
                                                        - `false` - labeling code is not required
                                    error:
                                        type: boolean
                                        description: Error flag
                                        example: false
                                    errorText:
                                        type: string
                                        description: Error description
                                    additionalErrors:
                                        nullable: true
                                        type: string
                                        description: Additional errors
                            example:
                                data:
                                    - tnved: '6106903000'
                                      isKiz: true
                                error: false
                                errorText: ''
                                additionalErrors: null
                '400':
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError400'
                'Response401':
                    $ref: '#/components/responses/Response401'
                '403':
                    description: Access denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError403'
                'Response429':
                    $ref: '#/components/responses/Response429'
    /content/v2/tags:
        servers:
            - url: https://content-api.wildberries.ru
        get:
            security:
                - HeaderApiKey: []
            summary: Tags list
            description: |
                Returns seller's tags list

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            tags:
                - Tags
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        properties:
                                            id:
                                                description: Numeric tag identifier
                                                type: integer
                                            color:
                                                description: Tag color
                                                type: string
                                            name:
                                                description: Tag name
                                                type: string
                                    error:
                                        description: Error flag
                                        type: boolean
                                        example: false
                                    errorText:
                                        description: Error description
                                        type: string
                                        example: ''
                                    additionalErrors:
                                        description: Additional errors
                                        nullable: true
                                        type: string
                                        example: ''
                            example:
                                data:
                                    - id: 1
                                      color: D1CFD7
                                      name: Sale
                                error: false
                                errorText: ''
                                additionalErrors: ''
                'Response401':
                    $ref: '#/components/responses/Response401'
                '403':
                    description: Access denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError403'
                'Response429':
                    $ref: '#/components/responses/Response429'
    /content/v2/tag:
        servers:
            - url: https://content-api.wildberries.ru
        post:
            security:
                - HeaderApiKey: []
            summary: Create a tag
            description: |
                Creates a tag.

                It is possible to create 15 tags.

                The maximum length of a tag is 15 characters

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            tags:
                - Tags
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                color:
                                    description: |
                                        Tag color.
                                        <dl>
                                        <dt>Available colors:</dt>
                                        <dd><code>D1CFD7</code> - grey</dd>
                                        <dd><code>FEE0E0</code> - red</dd>
                                        <dd><code>ECDAFF</code> - purple</dd>
                                        <dd><code>E4EAFF</code> - blue</dd>
                                        <dd><code>DEF1DD</code> - green</dd>
                                        <dd><code>FFECC7</code> - yellow</dd>
                                        </dl>
                                    type: string
                                    example: D1CFD7
                                name:
                                    description: Tag name
                                    type: string
                                    example: Sale
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseContentError6'
                            examples:
                                responseOK200:
                                    $ref: '#/components/examples/responseOK200'
                '400':
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/responseBodyContentError400'
                                    - $ref: '#/components/schemas/responseContentError4'
                                    - $ref: '#/components/schemas/responseContentError6'
                            examples:
                                responseBodyContentError400:
                                    $ref: '#/components/examples/responseBodyContentError400'
                                responseBody400LenName:
                                    $ref: '#/components/examples/responseBody400LenName'
                                responseBodyLimitTag:
                                    $ref: '#/components/examples/responseBodyLimitTag'
                                responseBodyNameNotExist:
                                    $ref: '#/components/examples/responseBodyNameNotExist'
                'Response401':
                    $ref: '#/components/responses/Response401'
                '403':
                    description: Access denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError403'
                'Response429':
                    $ref: '#/components/responses/Response429'
    /content/v2/tag/{id}:
        servers:
            - url: https://content-api.wildberries.ru
        patch:
            security:
                - HeaderApiKey: []
            summary: Update the tag
            description: |
                Changes tag data: name and color

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            tags:
                - Tags
            parameters:
                - name: id
                  in: path
                  schema:
                      type: integer
                      example: 1
                  description: Numeric tag ID
                  required: true
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                color:
                                    description: Tag color
                                    type: string
                                    example: D1CFD7
                                name:
                                    description: Tag name
                                    type: string
                                    example: Sale
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/responseContentError6'
                                    - $ref: '#/components/schemas/responseContentError4'
                            examples:
                                responseOK200:
                                    $ref: '#/components/examples/responseOK200'
                                responseNotFound200:
                                    $ref: '#/components/examples/responseNotFound200'
                '400':
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/responseBodyContentError400'
                                    - $ref: '#/components/schemas/responseContentError4'
                            examples:
                                responseBodyContentError400:
                                    $ref: '#/components/examples/responseBodyContentError400'
                                responseBody400LenName:
                                    $ref: '#/components/examples/responseBody400LenName'
                'Response401':
                    $ref: '#/components/responses/Response401'
                '403':
                    description: Access denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError403'
                'Response429':
                    $ref: '#/components/responses/Response429'
        delete:
            security:
                - HeaderApiKey: []
            summary: Delete the tag
            description: |
                Deletes the tag

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            tags:
                - Tags
            parameters:
                - name: id
                  in: path
                  schema:
                      type: integer
                      example: 1
                  description: Numeric tag ID
                  required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/responseContentError6'
                                    - $ref: '#/components/schemas/responseContentError5'
                            examples:
                                responseOK200:
                                    $ref: '#/components/examples/responseOK200'
                                responseNotFound200Del:
                                    $ref: '#/components/examples/responseNotFound200Del'
                '400':
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: '#/components/schemas/responseBodyContentError400'
                                    - $ref: '#/components/schemas/responseContentError5'
                            examples:
                                responseBodyContentError400:
                                    $ref: '#/components/examples/responseBodyContentError400'
                                responseBodyTagNotExist:
                                    $ref: '#/components/examples/responseBodyTagNotExist'
                'Response401':
                    $ref: '#/components/responses/Response401'
                '403':
                    description: Access denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError403'
                'Response429':
                    $ref: '#/components/responses/Response429'
    /content/v2/tag/nomenclature/link:
        servers:
            - url: https://content-api.wildberries.ru
        post:
            security:
                - HeaderApiKey: []
            summary: Tag management in the product card
            description: |
                The method allows to add tags to the product card and remove tags from the product card.<br>
                When removing a tag from a product card, the tag itself is not removed.<br>
                It is possible to add 15 tags to a product card.

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            tags:
                - Tags
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                nmID:
                                    description: WB article
                                    type: integer
                                tagsIDs:
                                    description: |
                                        An array of numeric tag IDs.<br>
                                        When removing a tag from a product card, the tag itself is not removed.<br>
                                        To add tags to existing ones in the product card, you need to specify in the request the new tags and the tags that are already exist in the product card.
                                    type: array
                                    items:
                                        type: integer
                                        description: Numeric tag identifier
                        example:
                            nmID: 179891389
                            tagsIDs:
                                - 123456
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseContentError6'
                            examples:
                                responseOK200:
                                    $ref: '#/components/examples/responseOK200'
                '400':
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseContentError4'
                            examples:
                                IncorrectRequest4:
                                    $ref: '#/components/examples/IncorrectRequest4'
                'Response401':
                    $ref: '#/components/responses/Response401'
                '403':
                    description: Access denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError403'
                'Response429':
                    $ref: '#/components/responses/Response429'
    /content/v2/get/cards/list:
        servers:
            - url: https://content-api.wildberries.ru
        post:
            security:
                - HeaderApiKey: []
            tags:
                - Product Cards
            summary: Product cards list
            description: |
                <div class="description_auth">
                  Method is available with the <a href="/openapi/api-information#tag/Authorization/How-to-create-a-token">token</a> of the <strong>Promotion</strong> category
                </div>

                Returns the list of created product cards.<br>

                To get **more than 100** product cards, you need to use pagination:

                  <ol>
                    <li>Make first request (all listed params are required):
                      <pre>
                        {
                          "settings": {
                            "cursor": {
                              "limit": 100
                            },
                            "filter": {
                              "withPhoto": -1
                            }
                          }
                        }</pre>
                    </li>
                    <li>From last part of response list, copy 2 strings from `cursor` field response:
                      <ul>
                        <li><code>"updatedAt": "***"</code></li>
                        <li><code>"nmID": ***</code></li>
                      </ul>
                    <li>Paste the copied strings to the request <code>cursor</code>, repeat the request. </li>
                    <li>Repeat <b>2</b> and <b>3</b>, until <code>total</code> will be less than <code>limit</code> in response. This will mean you got all cards.
                  </ol>

                <div class="description_important">
                  Product cards from the trash are not provided in the method response. You can get these product cards via <a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1get~1cards~1trash/post">different method</a>.
                </div>

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            parameters:
                - name: locale
                  in: query
                  schema:
                      type: string
                      example: ru
                  description: |
                      Language for response fields `name`, `value` and `object` translation:  `ru` - Russian, `en` - English, `zh` - Chinese.

                      Is not used in the sandbox
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                settings:
                                    type: object
                                    description: Settings
                                    properties:
                                        sort:
                                            description: Sort by
                                            type: object
                                            properties:
                                                ascending:
                                                    type: boolean
                                                    description: Sort by **updatedAt** field (`false` - descending, `true` - ascending)
                                        filter:
                                            description: Filters
                                            type: object
                                            properties:
                                                withPhoto:
                                                    type: integer
                                                    description: |
                                                        Photo:
                                                          * `0` — only cards without photos
                                                          * `1` — only cards with photos
                                                          * `-1` — all cards
                                                textSearch:
                                                    type: string
                                                    description: Seller's article, Wildberries article or barcode search
                                                tagIDs:
                                                    type: array
                                                    description: Tags ID search
                                                    items:
                                                        type: integer
                                                allowedCategoriesOnly:
                                                    description: |
                                                        Category: true — permitted, false — forbidden
                                                    type: boolean
                                                objectIDs:
                                                    type: array
                                                    description: Subject ID search
                                                    items:
                                                        type: integer
                                                brands:
                                                    type: array
                                                    description: Brand search
                                                    items:
                                                        type: string
                                                imtID:
                                                    description: |
                                                        `imtID` search
                                                    type: integer
                                        cursor:
                                            description: |
                                                Cursor
                                            type: object
                                            properties:
                                                limit:
                                                    type: integer
                                                    description: Number of cards in response
                        example:
                            settings:
                                sort:
                                    ascending: false
                                filter:
                                    textSearch: '4603743187500888'
                                    allowedCategoriesOnly: true
                                    tagIDs:
                                        - 345
                                        - 415
                                    objectIDs:
                                        - 235
                                        - 67
                                    brands:
                                        - уллу
                                        - EkkE
                                    imtID: 328632
                                    withPhoto: -1
                                cursor:
                                    updatedAt: '2023-12-06T11:17:00.96577Z'
                                    nmID: 370870300
                                    limit: 11
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    cards:
                                        type: array
                                        description: Product cards
                                        items:
                                            type: object
                                            properties:
                                                nmID:
                                                    type: integer
                                                    description: WB article
                                                imtID:
                                                    type: integer
                                                    description: |
                                                        Merged product card ID<br>
                                                        The same for all WB article of a merged product card<br>
                                                        The product card has it, even if one is not merged with any other card
                                                nmUUID:
                                                    type: string
                                                    format: uuid
                                                    description: Internal system ID of the product card
                                                subjectID:
                                                    type: integer
                                                    description: Subject ID
                                                subjectName:
                                                    type: string
                                                    description: Subject name
                                                vendorCode:
                                                    type: string
                                                    description: Seller's article
                                                brand:
                                                    type: string
                                                    description: Brand
                                                title:
                                                    type: string
                                                    description: Product title
                                                description:
                                                    type: string
                                                    description: Product description
                                                needKiz:
                                                    description: |
                                                        Is a [labeling code](https://chestnyznak.ru/en) required for the product
                                                        <br>
                                                        * `false` — labeling code is not required
                                                        <br>
                                                        * `true` — labeling code is required
                                                    type: boolean
                                                photos:
                                                    type: array
                                                    description: Photo array
                                                    items:
                                                        type: object
                                                        properties:
                                                            big:
                                                                description: URL of `900x1200` photo
                                                                type: string
                                                            c246x328:
                                                                description: URL of `248x328` photo
                                                                type: string
                                                            c516x688:
                                                                description: URL of `516x688` photo
                                                                type: string
                                                            square:
                                                                description: URL of `600x600` photo
                                                                type: string
                                                            tm:
                                                                description: URL of `75x100` photo
                                                                type: string
                                                video:
                                                    type: string
                                                    description: Video URL
                                                dimensions:
                                                    description: Dimensions and weight of packed product in `centimeters` and `kilograms`
                                                    type: object
                                                    properties:
                                                        length:
                                                            type: integer
                                                            description: Length, cm
                                                        width:
                                                            type: integer
                                                            description: Width, cm
                                                        height:
                                                            type: integer
                                                            description: Height, cm
                                                        weightBrutto:
                                                            type: number
                                                            description: Weight, kg<br>Number of decimal places <=3
                                                        isValid:
                                                            type: boolean
                                                            description: |
                                                                Potential dimension difference:

                                                                - `true` — not detected. `"isValid": true` does not guarantee that the dimensions are correct. In some cases (for example, when creating a new product category), `"isValid": true` will be returned for any values except zero.

                                                                - `false` — the specified dimensions significantly differ from the average for the category (subject). it is recommended to double-check whether the product dimensions in the packaging are correctly specified **in centimeters**. The functionality of the product card, including the calculation of logistics and storage, will not be limited. Logistics and storage will continue to be calculated based on the current dimensions. Also, `"isValid": false` is returned when there are missing values or any dimension is zero.
                                                characteristics:
                                                    type: array
                                                    description: Characteristics
                                                    items:
                                                        type: object
                                                        properties:
                                                            id:
                                                                type: integer
                                                                description: Characteristic ID
                                                            name:
                                                                type: string
                                                                description: Characteristic name
                                                            value:
                                                                description: Characteristic value
                                                sizes:
                                                    type: array
                                                    description: Product sizes
                                                    items:
                                                        type: object
                                                        properties:
                                                            chrtID:
                                                                type: integer
                                                                description: Size ID
                                                            techSize:
                                                                type: string
                                                                description: Size (for example, S or 42)
                                                            wbSize:
                                                                type: string
                                                                description: Russian size
                                                            skus:
                                                                type: array
                                                                description: Barcode
                                                                items:
                                                                    type: string
                                                                    example: 12345Ejf5
                                                tags:
                                                    description: Tags
                                                    type: array
                                                    items:
                                                        type: object
                                                        properties:
                                                            id:
                                                                type: integer
                                                                description: Tag ID
                                                            name:
                                                                type: string
                                                                description: Tag name
                                                            color:
                                                                type: string
                                                                description: |
                                                                    Color:

                                                                      * `D1CFD7` - grey
                                                                      * `FEE0E0` - red
                                                                      * `ECDAFF` - purple
                                                                      * `E4EAFF` - blue
                                                                      * `DEF1DD` - green
                                                                      * `FFECC7` - yellow
                                                createdAt:
                                                    type: string
                                                    description: Creation date and time
                                                updatedAt:
                                                    type: string
                                                    description: Update date and time
                                    cursor:
                                        type: object
                                        description: Pagination
                                        properties:
                                            updatedAt:
                                                type: string
                                                description: Date and time for next card page
                                            nmID:
                                                type: integer
                                                description: WB article for next card page
                                            total:
                                                type: integer
                                                description: Number of cards
                            example:
                                cards:
                                    - nmID: 12345678
                                      imtID: 123654789
                                      nmUUID: 01bda0b1-5c0b-736c-b2be-d0a6543e9be
                                      subjectID: 7771
                                      subjectName: AKF системы
                                      vendorCode: wb7f6mumjr1
                                      brand: Тест
                                      title: Тест-система
                                      description: Тестовое описание
                                      needKiz: false
                                      photos:
                                          - big: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/big/1.webp
                                            c246x328: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c246x328/1.webp
                                            c516x688: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c516x688/1.webp
                                            square: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/square/1.webp
                                            tm: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/tm/1.webp
                                      video: https://videonme-basket-12.wbbasket.ru/vol137/part22557/225577433/hls/1440p/index.m3u8
                                      dimensions:
                                          length: 55
                                          width: 40
                                          height: 15
                                          weightBrutto: 6.24
                                          isValid: false
                                      characteristics:
                                          - id: 14177449
                                            name: Цвет
                                            value:
                                                - красно-сиреневый
                                      sizes:
                                          - chrtID: 316399238
                                            techSize: '0'
                                            skus:
                                                - '987456321654'
                                      tags:
                                          - id: 592569
                                            name: Популярный
                                            color: D1CFD7
                                      createdAt: '2023-12-06T11:17:00.96577Z'
                                      updatedAt: '2023-12-06T11:17:00.96577Z'
                                cursor:
                                    updatedAt: '2023-12-06T11:17:00.96577Z'
                                    nmID: 123654123
                                    total: 1
                '400':
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError400'
                        plain/text:
                            example: Request body can not be decoded
                'Response401':
                    $ref: '#/components/responses/Response401'
                '403':
                    description: Access denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError403'
                'Response429':
                    $ref: '#/components/responses/Response429'
    /content/v2/cards/error/list:
        servers:
            - url: https://content-api.wildberries.ru
        get:
            security:
                - HeaderApiKey: []
            summary: List of failed product cards with errors
            description: |
                Returns the list of product cards and the list of errors encountered during product card creation<br>

                <div class="description_important">
                  To delete product card from the errors list you need to repeat the <a href="/openapi/work-with-products#tag/Creating-Products-Cards/paths/~1content~1v2~1cards~1upload/post">product card creation</a> request with fixed errors.
                </div>

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 100 requests | 600 milliseconds | 5 requests |

                Exceptions are the methods:
                <ul>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
                    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
                    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
                </ul>
                </div>
            tags:
                - Product Cards
            parameters:
                - name: locale
                  in: query
                  schema:
                      type: string
                      example: en
                  description: |
                      Language of multi-language parameters (for which the multi-language option is provided).

                      Is not used in the sandbox
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                object:
                                                    description: Category for which the product card was created with the given product card
                                                    type: string
                                                    example: Блузки
                                                vendorCode:
                                                    description: Supplier's article
                                                    type: string
                                                    example: '6000000001'
                                                updateAt:
                                                    description: The date and time of creating product card with specified product card request
                                                    type: string
                                                    example: '2022-06-15T14:37:13Z'
                                                errors:
                                                    description: |
                                                        List of errors due to which the request to create a product card with a given product card is not processed
                                                    type: array
                                                    items:
                                                        type: string
                                                        example: Поля Рос. размер, Размер обязательны для заполнения
                                                objectID:
                                                    description: Product ID
                                                    type: integer
                                                    example: 1234
                                    error:
                                        description: Error flag.
                                        type: boolean
                                        example: false
                                    errorText:
                                        description: Error description.
                                        type: string
                                        example: ''
                                    additionalErrors:
                                        nullable: true
                                        description: Any additional errors.
                                        type: string
                                        example: null
                '400':
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError400'
                'Response401':
                    $ref: '#/components/responses/Response401'
                '403':
                    description: Access denied
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/responseBodyContentError403'
                'Response429':
                    $ref: '#/components/responses/Response429'
    /content/v2/cards/update:
        servers:
            - url: https://content-api.wildberries.ru
        post:
            tags:
                - Product Cards
            summary: Update product cards
            description: |
                Edits product cards. If you need some product data, get it using [product cards list](/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1get~1cards~1list/post).

                <div class="description_important">
                  The product card is overwritten during an update. Therefore, you need to include <strong>all</strong> parameters of the product card in the request, including those you do not intend to update.
                </div>

                The dimensions of the products can only be specified in `centimeters`, and the weight of packed products must be specified in `kilograms`.

                You can not edit or delete barcodes but you can add new ones. You have not to send `photos`, `video` and `tags` and can not edit them.

                If this method response is Success (200) but product card was not updated, check errors using [list of failed product cards with errors](/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/get).

                With one request you can edit maximum product cards (`nmID`). Maximum request size is 10 Mb

                <div class="description_limit">
                <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

                | Period | Limit | Interval | Burst |
                | --- | --- | --- | --- |
                | 1 minute | 10 requests | 6 seconds | 5 requests |
                </div>
            requestBody:
                content:
                    application/json:
                        schema:
                            type: array
                            items:
                                type: object
                                required:
                                    - nmID
                                    - vendorCode
                                    - sizes
                                properties:
                                    nmID:
                                        type: integer
                                        description: WB article
                                    vendorCode:
                                        type: string
                                        description: Supplier's article
                                    brand:
                                        type: string
                                        description: Brand
                                    title:
                                        type: string
                                        description: Product title
                                        maxLength: 60
                                    description:
                                        type: string
                                        description: |
                                            Product description<br>
                                            The maximum number of characters depends on the product category<br>
                                            Standard - 2000, minimum - 1000, maximum - 5000<br>
                                            More details about description rules in **Product card filling rules** in [Instructions](https://seller.wildberries.ru/help-center/article/A-113#описание) category of sellers portal
                                    dimensions:
                                        description: |
                                            Dimensions and weight of packed product in `centimeters` and `kilograms`
                                        type: object
                                        properties:
                                            length:
                                                type: integer
                                                description: Length, cm
                                            width:
                                                type: integer
                                                description: Width, cm
                                            height:
                                                type: integer
                                                description: Height, cm
                                            weightBrutto:
                                                type: number
                                                description: Weight, kg<br>Number of decimal places <=3
                                    characteristics:
                                        description: Product characteristics
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: integer
                                                    description: Characteristic ID
                                                value:
                                                    description: Characteristic value
                                    sizes:
                                        type: array
                                        description: |
                                            Product sizes<br>
                                            If product has no sizes, send only barcodes
                                        items:
                                            type: object
                                            properties:
[...]
